[*.cs]
resharper_inconsistent_naming_highlighting = none
resharper_prefer_concrete_value_over_default_highlighting = none
resharper_partial_type_with_single_part_highlighting = none
resharper_entity_name_captured_only_global_highlighting = none
resharper_arrange_default_value_when_type_not_evident_highlighting = none
resharper_convert_to_extension_block_highlighting = none
resharper_invoke_as_extension_member_highlighting = none
resharper_unused_parameter_global_highlighting = none
resharper_built_in_type_reference_style_highlighting = none

[*generated.cs]
generated_code = true