name: Coverage

on:
  push:
    branches: [main]
  pull_request:

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Dagger CLI
        uses: dagger/dagger-action@v6
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          workdir: dagger
          verb: call
          args: upload-dotnet-test-coverage --src=.. --codecov-token=$CODECOV_TOKEN
          version: "latest"
